html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    color: white;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #143642;
}

.topbar {
    overflow: hidden;
    background-color: #143642;
}

body {
    margin: 0;
}

.content {
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
}

.card {
    background-color: #F8F7F9;
    ;
    box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 10px;
}

.btn {
    padding: 15px 50px;
    width: 60%;
    margin: 5px auto;
    font-size: 1rem;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #045372;
    border: none;
    border-radius: 5px;
    
}


.btn:hover {
    background-color: #076b92
}



.btn:active {
    box-shadow: 2 2px #CDCDCD;
    transform: translateY(2px);
}

.state {
    font-size: 1.5rem;
    color: #8c8c8c;
    font-weight: bold;
}

#stp {
    background-color: #d62845;
}

#stp:hover {
    background-color: #ee3251
}

.in_box {
    margin: 5px auto;
}

/* .rows {
    display: inline-table;
    width: 100%;
    margin-left:auto; margin-right:auto; 
    text-align: center;
}
form > p { display: table-row; }
label { display: table-cell; }
input { display: table-cell; } */

table {
    margin-left:auto; 
    margin-right:auto
}

td {
    padding: 5px;
}

td:nth-child(1) {
    text-align: right;
}

.monitor > * > * > td:nth-child(2) {
    width: 40%;
}